input[type="text"] {
    width: 400px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  input[type="text"]:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  